<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <main>
        <% if (prods.length > 0){ %>
            <div class="grid">
            <% for(let i=0; i<prods.length; i++){ %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"> <%= prods[i].title %> </h1>
                        <div class="card__image">
                            <img src="<%= prods[i].imageUrl %>"
                                alt="some books on the shelf">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= prods[i].price %></h2>
                            <p class="product__description"><%= prods[i].description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= prods[i].id %>" class="btn">Details</a>
                            <%- include('../includes/add-to-cart.ejs',{product: prods[i]})%>
                        </div>
                    </header>
                </article>
            <% } %>
            </div>
        <% } else { %>
            <h1>No products found!</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs')%>